<div class="row">
  <div class="aside-container">
    <div class="aside-container__left">


      <div class="aside-container__left__backlink">
        <a href="" title="Alterar forma de pagmento">
          < Alterar forma de pagmento </a> </div> <div class="aside-container__left__span">
            <img src="./../../../assets/img/icon-cartao.svg" alt=" Adicione um novo cartão de crédito"
              title=" Adicione um novo cartão de crédito">
            Adicione um novo cartão de crédito
      </div>


      <div class="aside-container__card"></div>
    </div>
    <div class="aside-container__right">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Número do cartão" aria-label="Número do cartão">
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nome (igual ao cartão)"
              aria-label="Nome (igual ao cartão)">
          </div>

        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Validade" aria-label="Validade">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="CVV" aria-label="CVV">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Número de parcelas" aria-label="Número de parcelas">
          </div>
        </div>
      </div>
    </div>